{% extends 'base.html' %}

{% block title %}Cadastre-se - Not-On-My-Watch{% endblock %}

{% block content %}
<div class="container w-75">
  <div class="mt-5">
    <h2>Cadastre-se:<h2>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="firstName" class="form-label">Nome</label>
      <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        title="Digite um email válido." aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Usuário</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password" name="password"
        pattern="^(?=.*[A-Z])(?=.*[\d])[A-Za-z\d]{8,}$"
        title="A senha deve ter no mínimo 8 caracteres, uma letra maiúscula e um número.">
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar senha</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
        pattern="^(?=.*[A-Z])(?=.*[\d])[A-Za-z\d]{8,}$"
        title="A senha deve ter no mínimo 8 caracteres, uma letra maiúscula e um número.">
    </div>

    <button class="btn btn-primary" type="button">
      <a class="text-white" href="{% url 'home' %}">
        Cancelar
      </a>
    </button>

    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>
{% endblock %}